@page
@model Presentation_Layer_Web_App.Pages.Screens.HomeModel
@{
}

@using Business_Logic_Layer

<div class="main-container">
                 <div id="xo-matrix">

                @*     <div id="myDiv" style="cursor: pointer; padding: 20px; background-color: lightblue;">
                        <a asp-page-handler="YourAction" class="click-me">Click me!</a>
                    </div>

                    <div id="resultContainer">
                        @if (TempData["Result"] != null)
                        {
                            <p>@TempData["Result"]</p>
                        }
                    </div>
                    *@

                    <form method="post" class="cell h-container">

                            <button type="submit" asp-page-handler="Test00" class="XO-Cell" style="width:100%;height:100%;">
                                @clsGame.XO_Matrix[0][0]
                            </button>
                        
                    </form>

                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test01" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[0][1]
                        </button>

                    </form>


                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test02" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[0][2]
                        </button>

                    </form>



                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test10" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[1][0]
                        </button>

                    </form>

                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test11" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[1][1]
                        </button>

                    </form>


                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test12" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[1][2]
                        </button>

                    </form>


                    <form method="post" class="cell h-container">

                            <button type="submit" asp-page-handler="Test20" class="XO-Cell" style="width:100%;height:100%;">
                                @clsGame.XO_Matrix[2][0]
                            </button>
                        
                    </form>

                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test21" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[2][1]
                        </button>

                    </form>


                    <form method="post" class="cell h-container">

                        <button type="submit" asp-page-handler="Test22" class="XO-Cell" style="width:100%;height:100%;">
                            @clsGame.XO_Matrix[2][2]
                        </button>

                    </form>





          
                </div>

                <div class="profile-card">
                    <img src="assets/icons/user-icon.png" alt="" class="profile-ixon">
                    <a href="" class="user-name">openant-name</a>
                </div>
                
</div>
